.env
.env.local
.env.production
.env.development
.idea/
.idea_old/
.DS_Store/
node_modules/
binned/
.dccache
.turbo
build/**
dist/**
bin/**
.next/**
**/node_modules/
**/dist/
**/bin/

# Kubernetes secrets that should not be pushed to repo
**/kubernetes/secrets/
**/kubernetes/*-secret.yaml
**/kubernetes/*-secret.yml
/kubernetes/secrets/